.character {
  margin-bottom: 1.2em;
}
.character-mug img, .comic-cover img, .comic-image img {
  width: 100%;
}
.event, .comic, .series {
  border-bottom: 1px solid #ccc;
  padding: 0.8em 0;

  &:last-child {
    border-bottom: 0 none;
  }
}
.hidden-xs {
  margin-bottom: 1em;
}