<h2>Comics featuring {{character.name}}</h2>
<div class="row">
  <div class="comics">
    <div class="comic" ng-repeat="comic in characterComics">
      <div class="comic-cover col-xs-6 col-sm-4">
        <resource-image thumbnail="comic.thumbnail" variant="portrait_fantastic" />
      </div>
      <comic-item comic="comic"></comic-item>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <ul class="pager">
    <li class="previous" ng-show="showPrev()"><a ng-href="/#/characters/{{characterId}}/comics?page={{prevPage()}}">&larr; prev</a></li>
    <li class="next" ng-show="showNext()"><a ng-href="/#/characters/{{characterId}}/comics?page={{nextPage()}}">next &rarr;</a></li>

  </ul>
</div>
