<h1>Characters</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6"></div>
  <div class="col-xs-12 col-sm-6">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="search" />
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" ng-click="searchCharacters()"><span class="glyphicon glyphicon-search"></span> Search</button>
      </span>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="characters">
    <div class="character" ng-repeat="character in characters">
      <div class="character-mug col-xs-3">
        <img ng-src="{{character.thumbnail.path}}/standard_large.{{character.thumbnail.extension}}" alt="">
      </div>
      <div class="character-info col-xs-9">
        <a ng-href="/#/characters/{{character.id}}">
          <strong>{{character.name}}</strong>
        </a>
        <p>{{character.description}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <ul class="pager">
    <li class="previous" ng-show="showPrev()"><a ng-href="/#/characters?page={{prevPage()}}">&larr; prev</a></li>
    <li class="next" ng-show="showNext()"><a ng-href="/#/characters?page={{nextPage()}}">next &rarr;</a></li>
  </ul>
</div>