<div class="row">
  <div class="col-xs-12">
    <h2>{{character.name}}</h2>    
  </div>
</div>

<div class="row">
  <div class="loading" ng-hide="loadComplete">
    <i class="fa fa-refresh fa-spin fa-3x"></i>
  </div>
  <div class="col-xs-12 col-sm-6" ng-show="loadComplete">
    <div class="character-mug">
        <resource-image object-type="characters" object-id="{{character.id}}" thumbnail="character.thumbnail" variant="standard_fantastic" />
    </div> 
  </div>
  <div class="col-xs-12 col-sm-6" ng-show="loadComplete">
    <div class="character-info is-padded">
      <div class="bio">
        {{character.description}}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="row" ng-show="loadComplete">
  <div class="col-xs-12">
    <h3>Comics <small><a href="/#/characters/{{character.id}}/comics">see all..</a></small></h3>
  </div>
  <div class="col-xs-12">
    <div class="comic" ng-repeat="comic in character.comics.items">
      <a href="/#/comics/{{parser.extractResourceId(comic.resourceURI)}}">{{comic.name}}</a>
    </div>
  </div>
</div>

<div class="row" ng-show="loadComplete">
  <div class="col-xs-12">
    <h3>Events <small><a href="#">see all..</a></small></h3>
  </div>
  <div class="col-xs-12">
    <div class="event" ng-repeat="event in character.events.items">
      <a href="/#/events/{{parser.extractResourceId(event.resourceURI)}}">{{event.name}}</a>
    </div>
  </div>
</div>
<div class="row" ng-show="loadComplete">
  <div class="col-xs-12">
    <h3>Series <small><a href="#">see all..</a></small></h3>
  </div>
  <div class="col-xs-12">
    <div class="series" ng-repeat="series in character.series.items">
      <a href="">{{series.name}}</a>
    </div>
  </div>
</div>