<h1>Events</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6"></div>
  <div class="col-xs-12 col-sm-6">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="search" />
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button" ng-click="searchEvents(search)"><span class="glyphicon glyphicon-search"></span> Search</button>
      </span>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="loading" ng-hide="loadComplete">
    <i class="fa fa-refresh fa-spin fa-3x"></i>
  </div>
  <div class="no-results col-xs-12" ng-show="noResults">
    <h3>No results found</h3>
  </div>
  <div class="events">
    <div class="event" ng-repeat="event in events">
      <div class="comic-cover col-xs-6 col-sm-4">
        <resource-image object-type="events" object-id="{{event.id}}" thumbnail="event.thumbnail" variant="portrait_fantastic" />
      </div>
      <event-item event="event"></event-item>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <ul class="pager">
    <li class="previous" ng-show="pager.showPrev()"><a ng-href="/#/events?page={{pager.prevPage()}}">&larr; prev</a></li>
    <li class="next" ng-show="pager.showNext()"><a ng-href="/#/events?page={{pager.nextPage()}}">next &rarr;</a></li>
  </ul>
</div>
